*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	
}
.box{
	width: 1348px;
	margin: auto;
}
.logo{
	width: 1348px;
	height: 160px;
	
}
.nav{
	width: 1348px;
	height: 30px;
	background: #916331;
	/*box-shadow: 1px ;*/
	position: relative;
}
.nav_l{
	width: 580px;
	height: 30px;
	float: left;
	margin-left: 195px;
	line-height: 30px;
}
.nav_l li{
	float: left;
	color: white;
	margin-left: 20px;
	list-style: none;
	font-size: 14px;
}
.nav img{
	width: 28px;
	height: 25px;
	position: absolute;
	top: 5px;
	left: 820px;
	
} 
.nav_r{
	width: 330px;
	height: 23px;
	float: left;
   
	background: #382F10;
	border-radius: 10px;
	margin: 4px 0 0 60px;
}
.nav_r a{
	float: left;
	color: white;
	/*margin-left: 20px;*/
   line-height: 23px;	
	font-size: 12px;
	cursor: pointer;
	margin-left: 13px;
}


.x_nav{
	width: 1348px;
	height: 30px;
	background: #261909;
}

.x_nav_l{
	width: 780px;
	height: 30px;
	line-height: 30px;
	margin-left: 195px;
	
}
.x_nav_l a{
	float: left;
	margin-left: 12px;
	font-size: 12px;
	color: white;
	cursor: pointer;
}
.x_nav_l a:hover{
	color: #F4E06F;

}
.x_nav_l a:nth-of-type(1){
	color: #F4E06F;
}
.x_nav_l a:nth-of-type(9){
	color: #F4E06F;
}

.header{
	width: 1348px;
	background: #FFFAEB;
	
	
}
.header_box{
	width: 982px;
	margin-left: 210px;
	border: 1px solid #ccc;
  background: white;
	float: left;
	margin-top: -30px;
}

.tiao{
	width: 960px;
	height: 88px;
	margin: 10px 0 0 10px;
  float: left;
}
.tiao_l{
	width: 630px;
	height: 88px;
	float: left;
	border-left:2px solid #711221 ;
	background: #F5F0DA;
}


.tiao_l img{
	width: 37px;
	height: 88px;
	float: left;
	
}


.tiao_l div{
	width: 284px;
	height: 88px;
	border-left: 1px dashed #CCCCCC;
	float: left;
	margin-left: 4px;
}

.tiao_l div p{
	width: 284px;
	line-height: 29px;
	font-size: 13px;
	margin-left: 10px;
	cursor: pointer;
}

.tiao_l div p:nth-last-of-type(1){
	color: #711221;
	font-size: 15px;
}
.tiao_l div p:nth-last-of-type(2){
	color: #CCCCCC;
}

.tiao_l div p:nth-last-of-type(3){
	color: #711221;
}




.tiao_r{
	width: 312px;
	height: 88px;
	float: left;
	border-left:2px solid #711221 ;
	background: #F5F0DA;
	margin-left: 10px;
}



.tiao_r img{
	width: 37px;
	height: 88px;
	float: left;
}
.tiao_r div{
	width: 260px;
	height: 88px;
	border-left: 1px dashed #CCCCCC;
	float: left;
	margin-left: 10px;
}
.tiao_r div p{
	width: 260px;
	line-height: 29px;
	font-size: 13px;
	margin-left: 10px;
	cursor: pointer;
	
}








.tiao_r div p:nth-last-of-type(1){
	color: #711221;
	font-size: 15px;
}
.tiao_r div p:nth-last-of-type(2){
	color: #CCCCCC;
}

.tiao_r div p:nth-last-of-type(3){
	color: #711221;
}




.daoh{
	width: 960px;
	height: 34px;
	background: #9D6F3E;
	margin: 14px 0 0 10px ;
	float: left;
}

.daoh ul{
	width: 960px;
	margin-left: 15px;
}

.daoh ul a{
	float: left;
	margin-left: 10px;
	line-height: 34px;
	font-size: 15px;
	cursor: pointer;
}
.daoh ul a:hover{
	color: white;
	border-bottom:1px solid white ;
	display: block;
}


.daoh ul a:nth-child(1){
	color: white;
}


.boxlunbo{
	width: 960px;
	height: 320px;
	margin: 20px 0 0 10px;
	float: left;
}

#banner{
		width: 320px;
		height: 320px;
		
		position: relative;
		float: left;
	}
	#banner p {
		display: none;
	}
	#banner .active{
		display: block;
	}
	#anniu{
		position: absolute;
		height: 16px;
		bottom: 5%;
		right: 35%;
		line-height: 16px;
		text-align: center;
	}
	#anniu a{
		display: block;
		width: 16px;
		height: 16px;
		background:#3a3e47;
		border-radius: 100%;
		float: left;
		margin-left: 4px;
		color: #fff;
	}
	#anniu .show{
		background: red;
	}
	#left{
		width: 30px;
		height: 50px;
		position: absolute;
		top:40%;
		left: 0;
		line-height: 50px;
		text-align: center;
		display: none;
	}
	#right{
		width: 30px;
		height: 50px;
		position: absolute;
		top:40%;
		right: 0;
		line-height: 50px;
		text-align: center;
		display: none;
	}

a{
	text-decoration: none;
}

.tebie{
	width: 370px;
	height: 320px;
	margin-left: 16px;
	float: left;
	/*background: blue;*/
	position: relative;
}
.xiaoh{
	position: absolute;
	top: ;
	left: 5px;
	
	
}
.tebie_t{
	width: 368px;
	height: 150px;
	margin-top: 10px;
	border: 1px solid #CCCCCC;
	box-shadow: 3px 3px 3px #CCCCCC;
}

.tebie_t img{
	width: 114px;
	height: 35px;
	margin:10px 0 0 127px ;
}
.tebie_t div{
	width: 340px;
	height: 97px;
	margin: 10px 0 0 10px ;
	
}

.tebie_t div h4{
	line-height: 20px;
	color: #950409;
	margin-left: 30px;
	cursor: pointer;
}
.tebie_t div p{
	line-height: 30px;
	color: #7C8479;
	margin-left: 15px;
	font-size: 12px;
}

.tebie_t div p a{
	
	color: #950409;
	cursor: pointer;
}


.tebie_b{
	width: 368px;
	height: 68px;
	line-height: 70px;
	margin-top: 10px;
	border-bottom: 1px dashed #CCCCCC;
}


.tebie_b h4{
	line-height: 20px;
	color: #950409;
	margin-left: 30px;
	cursor: pointer;
	
	
}
.tebie_b p{
	line-height: 30px;
	margin-left: 50px;
	font-size: 12px;
	float: left;
	
}


.tebie_b_r{
	width: 368px;
	height: 68px;
	line-height: 70px;
	margin-top: 10px;
	
}


.tebie_b_r h4{
	line-height: 20px;
	color: #950409;
	margin-left: 30px;
	cursor: pointer;
	
	
}
.tebie_b_r p{
	line-height: 30px;
	margin-left: 50px;
	font-size: 12px;
	float: left;
	
}
.lishi{
	width: 235px;
	height: 320px;
	float: left;
  margin-left: 16px;
 border-left: 1px solid #CCCCCC;

}

.lishi_t{	
	width: 235px;
	height: 25px;
	line-height: 25px;
	

}

.lishi_t h2{
	width: 135px;
	height: 25px;
	margin-left: 10px;
	float: left;
	font-size: 20px;
	color: #AE0A15;
}
.lishi_t h2 i{
	
	color: #CCCCCC;
}

.lishi_t #showtime{
	
	width: 80px;
	
	float: left;
}
.lishi_img{
	width: 225px;
	height: 150px;
	position: relative;
	margin: 10px 0 0 10px;
}
.lishi_img img{
	width: 225px;
	height: 150px;
	
	
}

.lishi_img p{
width: 225px;
height: 30px;
line-height:30px ;
position: absolute;
top: 120px;
left: 0;
background: #1C2127;
opacity: 0.5;
text-align: center;
color: white;


}
.lishi_img p:hover{
	color: #AE0A15;
	
}


.lishi_nav{
	width: 225px;
	height: 120px;
	
	margin-left: 10px;
	
}
.lishi_nav a{
width: 225px;
line-height: 30px;
float: left;
color: #333333;
font-size: 13px;
cursor: pointer;

}
.lishi_nav a :hover{
	color: #AE0A15;
	
	
}
.lishi_nav a i{
float: left;

}

.lishi_nav a p{
float: left;
margin-left: 10px;
}

.chaodai{
 width: 960px;
	height: 85px;
	background: url(../img/bj.png);
	margin: 10px 0 0 10px;
	float: left;
	position: relative;
}
.chaodai ul{
	width: 850px;
	line-height: 40px;
	margin-left: 110px;
	
	
	
}
.chaodai ul a{
	float: left;
	font-size: 14px;
	list-style: none;
	margin-left: 20px;
	color: #2F2F39;
	cursor: pointer;
}
.chaodai ul a:hover{
	color: #B93F11;
	
	
}
.xinwen{
	width: 960px;
	height: 300px;
	margin: 5px 0 0 10px;
	float: left;
	
	
}
.renwu{
	width: 300px;
	height: 300px;
	float: left;
	
	
}
.renwu_t{
	width: 300px;
	height: 30px;
	position: relative;
}
.renwu_t img{
	width: 300px;
	height: 30px;

}
.renwu_t p{
position: absolute;
left: 33px;
line-height: 20px;
top: 7px;
font-size: 14px;
color: white;
}




.jiemi{
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 30px;
	
}
.jiemi_t{
	width: 300px;
	height: 30px;
	position: relative;
}
.jiemi_t img{
	width: 300px;
	height: 30px;

}

.jiemi_t p{
	position: absolute;
left: 33px;
line-height: 20px;
top: 7px;
font-size: 14px;
color: white;


}


/*.miwen{
	width: 300px;
	height: 300px;
	float: left;
	background: yellow;
	margin-left: 30px;
	position: relative;
}*/
.renwu_c{
	width: 300px;
	height: 100px;
	float: left;
	margin: 10px 0 0 0px;

	
}
.renwu_c img{
	width: 130px;
	height: 100px;
	float: left;
	
	
}
.renwu_c div{
	
	width: 160px;
	height: 100px;
	margin-left: 9px;
	float: left;
}

.renwu_c div h3{
	width: 160px;
	line-height: 22px;
	font-size: 16px;
	color: #A0120F;
}

.renwu_c div p{
	width: 160px;
	line-height: 18px;
	font-size: 13px;
	color: #1C2127;
}
.renwu_b{
	width: 300px;
	height: 140px;
	
	float: left;
	margin-top: 10px;
}
.renwu_b a{
	width: 300px;
	line-height: 26px;
	float: left;
	cursor: pointer;
}
.renwu_b a:hover{
	color: #950409;
	
}

.renwu_b a i{	
	float: left;

}

.renwu_b a p{
	width: 280px;
	margin-left: 5px;
	float: left;
	font-size: 14px;
}


.huangdi{
width: 960px;
height: 85px;
margin: 10px 0 0 10px;
float: left;
position: relative;
background: url(../img/hdlb.png);

}
.huangdi ul{
	width: 840px;
	line-height: 42px;
	position: absolute;
	top: 0;
	left: 100px;
	
	
	
}

.huangdi ul a{
	float: left;
	margin-left: 20px;
	color: #37342F;
	cursor: pointer;
}
.huangdi ul a:hover{
	
	color: #F4E06F;
}

.historyWar{
	width: 960px;
	height: 110px;
	margin: 40px 0 0 10px;
	float: left;
	
}
.historyWarNav{
	width: 960px;
	height: 33px;
	border-bottom: #D3CCAF;
	
}
.historyWarNav img{
	width: 125px;
	height: 33px;
	float: left;
	
}
.historyWarNav ul{
	width: 670px;
	height: 33px;
	float: left;
	
}

.historyWarNav ul li{
	width: 65px;
	height: 28px;
	list-style: none;
	float: left;
	background: #D6CAB0;
	margin-left: 2px;
	line-height: 28px;
	text-align: center;
	
	
}

.historyWarNav ul li a{
	color: #333333;
	
}
.more{
	width: 40px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 14px;
	margin-left: 120px;
	cursor: pointer;
	color: #333333;
	
}
.historyWarName{
	width: 958px;
	height: 70px;
	
	
	border: 1px solid #CCCCCC;
}

.historyWarName a{
	float: left;
	margin-left: 10px;
	color: #333333;
}


.fengyun{
	width: 960px;
	height: 400px;
	margin: 10px 0 0 10px;
	float: left;
	
	
}
.fengyun_t{
	width: 960px;
	height: 56px;
	
	
}
.fengyun_t img{
	width: 900px;
	height: 56px;
	float: left;
	
	
}
.fengyun_t p{
	width: 55px;
	height: 56px;
	line-height: 56px;
	float: left;
	margin-left: 5px;
	
}
.fengyun_t p img{
	width: 14px;
	height: 14px;
	float: left;
	margin-top: 20px;
	
}
.fengyun_t p a{
	width: 40px;
	height: 56px;
	font-size: 12px;
	float: left;
	text-align: center;
	color: #333333;
	cursor: pointer;
}

.fengyun_b{
	width: 960px;
	height: 340px;
	margin-top: 4px;

}
.fengyun_b_l{
	width: 208px;
	height: 340px;
	float: left;
	
	
	
}

.fengyun_b_c{
	width: 465px;
	height: 340px;
	float: left;
	
	margin-left: 15px;
	
}


.jiaqing{
	width: 208px;
	height: 160px;
	position: relative;
	
}
.jiaqing img{
	width: 208px;
	height: 160px;
	
	
}
.jiaqing p{
	width: 208px;
	height: 26px;
	line-height: 26px;
	position:absolute;
	text-align: center;
	top: 134px;
	left: 0;
	background: #7E7868;
	opacity: 0.5;
}
.jiaqing p:hover{
	color: #B93F11;
	
}


.jiaqing_nav{
	width: 208px;
	line-height: 28px;
	
	
}

.jiaqing_nav li{
	width: 208px;
	line-height: 28px;
	
	list-style: none;
}
.jiaqing_nav li i{
	width: 3px;
	line-height: 28px;
	margin-left: 5px;
	float: left;
}

.jiaqing_nav li a{
	width: 190px;
	line-height: 28px;
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #333333;
	
}
.jiaqing_nav li a:hover{
	color: #B93F11;
	
}

.caocao{
	width: 465px;
	height: 99px;
	border-bottom: 1px dashed #CCCCCC;
}

.caocao h3{
	width: 465px;
	line-height: 33px;
	text-align: center;
	color: #950F16;
	
	
}
.caocao p{
	width: 465px;
	line-height: 30px;
	color: #7C8479;
	font-size: 12px;
	text-align: center;
}

.caocao a{
	width: 465px;
	line-height: 30px;
	color: black;
	font-size: 16px;
	cursor: pointer;
}
.caocao a:hover{
	color: #950409;
}

.caocao div{
	width: 465px;
	line-height: 30px;
	
}
.caocao div p{
	width: 200px;
	line-height: 30px;
	color: black;
	float: left;
	cursor: pointer;
}

.caocao div i{
	
	line-height: 30px;
	color: #CCCCCC;
	float: left;
	
}
.caocao div p:hover{
	color: #B93F11;
	
}

.caocao_nav{
	width: 465px;
	height: 240px;
	
	
}

.caocao_nav li{
	list-style: none;
	width: 465px;
	line-height: 30px;
	
	float: left;
}

.caocao_nav li p{
	
	width: 85px;
	line-height: 30px;
	float: left;
	font-size: 14px;
	margin-left: 20px;
}
.caocao_nav li p:hover{
	color: #B93F11;
}
.caocao_nav li a{
	
	width: 360px;
	line-height: 30px;
	float: left;
	font-size: 14px;
}
.caocao_nav li a:hover{
		color: #B93F11;
	
}

.fengyun_b_r{
	width: 255px;
	height: 310px;
	float: left;
	background: #FFFAEB;
	margin-left: 15px;
	border: 1px solid #E5CDB0;
	position: relative;
}


.renwu1{
	width: 250px;
	height: 30px;
	margin: 5px 0 0 5px;
}
.renwu1 img{
	width: 80px;
	height: 30px;
	float: left;
}

.renwu1 ul{
	width: 130px;
	height: 30px;
	line-height: 30px;
	float: left;
	
	
	
}
.renwu1 ul li{
	width: 40px;
	line-height: 30px;
	margin-left: 3px;
	float: left;
	list-style: none;
	font-size: 14px;
	background: #D6CAB0;
	color: #333333;
text-align: center;
cursor: pointer;	
}
.renwu1_b{
	width: 245px;
	height: 250px;
	margin: 5px 0 0 10px;
	position: absolute;
	
}
.renwu1_b_t{
 width: 245px;
	height: 68px;
	
	
}
.renwu1_b_t img{
	width: 84px;
	height: 68px;
	float: left;
	
}

.renwu1_b_t div{
	width: 150px;
	height: 68px;
	float: left;
}
.renwu1_b_t div p{
	width: 140px;
	line-height: 30px;
	color: #333333;
	margin-left: 10px;
}
.renwu1_b_t div a{
	width: 140px;
	line-height: 30px;
	color: #910F0F;
	cursor: pointer;
	margin-left: 10px;
}

#xiangming{
	margin-top: 10px;
	width: 245px;
	height: 172px;
	
	
}
#xiangming a{
	
	float: left;
	margin-left: 10px;
	line-height: 25px;
	font-size: 12px;
	color: #333333;
	cursor: pointer;
	
}
#xiangming a:hover{
	
	color: #910F0F;
}



.zhanshi{
	width: 960px;
	height: 625px;
	float: left;
	margin: 10px 0 0 10px;
	
	
}




.zhanshi_box{
	width: 960px;
	height: 550px;
	margin: 10px 0 0 0px;

	
}

.zhanshi_box_l{
	width: 140px;
	height: 550px;	
	float: left;
	position: relative;
}


.zhanshi_box_c{
	width: 530px;
	height: 550px;
	
	margin-left: 20px;
	float: left;
}
.zhanshi_box_r{
	width: 250px;
	height: 550px;

	margin-left: 20px;
	float: left;
}


.mingzhan{
	width: 140px;
	height: 550px;

}
.mingzhan img{
	width: 140px;
	height: 36px;
	
	
	
}
#mingzhan_nav{
	width: 138px;
	height: 512px;
	border: 1px solid #E7C6A3;
	background: #FFFAEB;
	
	
}
#mingzhan_nav li{
	width: 138px;
	line-height: 35px;
	border-bottom: 1px solid #E7C6A3;
	list-style: none;
	float: left;
	
}
#mingzhan_nav li p{
	width: 100px;
	float: left;
	margin-left: 10px;
	font-size: 14px;
	color: #333333;
}

#mingzhan_nav li img{
	width: 6px;
	height: 11px;
	margin-top: 14px;
	
	float: left;
	
}

.zhanyi{	
	width: 260px;
	height: 550px;
	background: white;
	position: absolute;
  left: 140px;
   top: 0px;
   display: none;
   border: 1px solid #CCCCCC;
}
.zhanyi h3{
	width: 250px;
	line-height: 23px;
	text-align: center;
	color: #910F0F;
	font-size: 15px;
	margin-top: 42px;
}

.guan{
	width: 250px;
	line-height: 20px;
	margin: 30px 0 0 5px;
	
	
}
.guan li{
	list-style: none;
	width: 250px;
	
	
	
}
.guan li a{
	width: 60px;
	color: #CCCCCC;
	float: left;
 font-size: 14px;

}
.guan li p{
	width: 190px;
	float: left;
	font-size: 14px;
}


.guandu{
	width: 250px;
	height:105px;
	
}

.guandu div{
	width: 120px;
	height: 105px;
	margin: 15px 0 0 5px;
	float: left;
}

.guandu div img{
	width: 120px;
	height: 85px;
	
	
}
.guandu div span{
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
  display: block;	
  color: #333333;
font-size: 14px;

}
.du{
	width: 250px;
	height: 200px;
	margin: 20px 0 0 5px;
	
	
}

.du h3{
	width: 250px;
	line-height: 23px;
	text-align: center;
	color: #910F0F;
	font-size: 14px;
	
	
}

.baitengjiang{
	width: 530px;
	height: 225px;
	
	
	
}

.baitengjiang_b{
	width: 250px;
	height: 90px;
	float: left;
	margin: 10px 0 0 10px;
	
	
}
.baitengjiang_b img{
		width: 120px;
	height: 90px;
	float: left;
	
}

.baitengjiang_b div{
		width: 120px;
	height: 90px;
	float: left;
	margin-left: 10px;
	
}

.baitengjiang_b div h5{
	width: 120px;
	line-height: 28px;
	font-size: 12px;
	color: #333333;
	
}
.baitengjiang_b div p{
	width: 120px;
	line-height: 22px;
	font-size: 10px;
	color: #333333;
	
	
}

.baitengjiang_b div p span{
	color: #910F0F;
	
}

.jiangx{
	width: 530px;
	height: 205px;
	
	
	
}
.jiangxing{
	width: 249px;
	height: 205px;
	border-right: 1px dashed #CCCCCC;
	float: left;
}
.jiangx .jiangxing:nth-of-type(2){
	margin-left: 30px;
	
}
.jiangxing img{
	width: 249px;
	height: 20px;
	
}
.jiangxing ul{
	width: 249px;
	line-height: 30px;
	
	
	
	
}
.jiangxing ul li{
	width: 249px;
	line-height: 30px;
	list-style: none;
}
.jiangxing ul li i{
	width: 4px;
	line-height: 30px;
	float: left;
}

.jiangxing ul li p{
	width: 235px;
	line-height: 30px;
	margin-left: 10px;
	float: left;
	font-size: 14px;
	color: #333333;
	
}

.zhanchang{
	width: 248px;
	height: 304px;
	border: 1px solid #A0120F;
	
}


.zhanchang_t{
	width: 250px;
	height: 30px;
	margin: 5px 0 0 5px;
}
.zhanchang_t img{
	width: 80px;
	height: 30px;
	float: left;
}

.zhanchang_t ul{
	width: 130px;
	height: 30px;
	line-height: 30px;
	float: left;
	
	
	
}
.zhanchang_t ul li{
	width: 40px;
	line-height: 30px;
	margin-left: 3px;
	float: left;
	list-style: none;
	font-size: 14px;
	background: #D6CAB0;
	color: #333333;
text-align: center;
cursor: pointer;	
}
.guanyu{
	width: 240px;
	height: 250px;
	margin: 10px 0 0 5px;
	position: relative;
	
	
}
.guanyu_t{
	width: 240px;
	height: 260px;
	position: absolute;
	
}
.guanyu_t img{
	width: 80px;
	height: 70px;
	float: left;
	
	
}
.guanyu_t div{
	width: 110px;
	line-height: 18px;
	float: left;
	margin-left: 10px;
	
}
.guanyu_t div h5{
	color: #910F0F;
	font-size: 12px;
	text-align: center;
	color: #333333;
}
.guanyu_t div p{
	line-height: 18px;
	color: #CCCCCC;
	font-size: 10px;
	
}
.guanyu_t div p span{
	
	color: #910F0F;
	
}


#guanyu_nav{
	width: 240px;
	height: 170px;
	
	line-height: 24px;
	
	
}
#guanyu_nav li{
	width: 240px;
	line-height: 24px;
	list-style: none;
	font-size: 12px;
	color: #333333;
}

#guanyu_nav li a{
	width: 4px;
	line-height: 24px;
	float: left;
	
}
#guanyu_nav li p{
	width: 220px;
	line-height: 24px;	
	float: left;
	margin-left: 10px;
}










.jiangxing1{
	width: 249px;
	height: 205px;
	border-right: 1px dashed #CCCCCC;
	float: left;
	margin-top: 15px;
}

.jiangxing1 img{
	width: 249px;
	height: 20px;
	
}
.jiangxing1 ul{
	width: 249px;
	line-height: 30px;
	
	
	
	
}
.jiangxing1 ul li{
	width: 249px;
	line-height: 30px;
	list-style: none;
}
.jiangxing1 ul li i{
	width: 4px;
	line-height: 30px;
	float: left;
}

.jiangxing1 ul li p{
	width: 235px;
	line-height: 30px;
	margin-left: 10px;
	float: left;
	font-size: 14px;
	color: #333333;
	
}

















